<?xml version="1.0"?>
    <model>
      <name>my_bot</name>
      <version>1.0</version>
      <sdf version="1.6">my_bot.sdf</sdf>
    
      <author>
        <name>Stacey Markiv</name>
        <email>stasy-9876@mail.ru</email>
      </author>
      <description>
        My_bot model.
      </description>
    </model>